<div class="tb-position--relative main current" ngClass.xs="xs" ngClass.sm="sm" #animRefView>
    <!-- This div contains the main content with a relative position -->
    <div class="tb-container tb-position--relative container">
        <!-- Container div with relative position -->

        <div fxLayout="column" fxLayoutAlign="start stretch">

            <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--20"></div>

            <h2 [@transitionText]="{value:_mTriggerAnim, params:{animDelay:100}}" ngClass.gt-sm="current-typo--h3-light"
                ngClass.sm="current-typo--h3-light" ngClass.xs="current-typo--h4">Showcases.</h2>

            <div ngClass.gt-xs="tb-height--48" ngClass.xs="tb-height--20"></div>
            <!-- Responsive vertical spacing -->

            <app-client-apps></app-client-apps>
            <!-- Custom Angular component for displaying client apps -->

            <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--24"></div>
            <!-- Responsive vertical spacing -->

            <!--  <app-my-apps></app-my-apps>-->
            <!-- Custom Angular component for displaying my apps -->

            <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--20"></div>
            <!-- Responsive vertical spacing -->

            <!-- Showcase Section -->
            <div ngClass.gt-xs="tb-height--64" ngClass.xs="tb-height--20"></div>
        </div>
    </div>
</div>
