<div class="tb-position--relative main" ngClass.xs="xs" ngClass.sm="sm">
    <div class="tb-container tb-position--relative container">

        <!-- Adicionando o seletor de idioma -->
        <div class="language-switcher">
            <button (click)="switchLanguage('pt')" [class.active]="currentLanguage === 'pt'">Português</button>
            <button (click)="switchLanguage('en')" [class.active]="currentLanguage === 'en'">English</button>
        </div>

        <div class="content-container" fxLayout="column">
            <!-- Espaçamento -->
            <div ngClass.gt-sm="tb-height--126" ngClass.sm="tb-height--72" ngClass.xs="tb-height--72"></div>
            
            <!-- Mensagem de boas-vindas -->
            <h4 [@transitionTextEnter]="{value:'in', params: {animDelay: 200}}" ngClass.gt-sm="current-typo--h4"
                ngClass.sm="current-typo--h5" ngClass.xs="current-typo--h5">{{ welcomeMessage }}</h4>
            
            <div ngClass.gt-sm="tb-height--24" ngClass.sm="tb-height--12" ngClass.xs="tb-height--12"></div>
            
            <!-- Paixão -->
            <h2 [@transitionTextEnter]="{value:'in', params: {animDelay: 300}}" ngClass.gt-sm="current-typo--h1-light"
                ngClass.sm="current-typo--h2-light" ngClass.xs="current-typo--h3">{{ passionText }}</h2>

            <!-- Detalhes -->
            <p [@transitionTextEnter]="{value:'in', params: {animDelay: 700}}"
                (@transitionTextEnter.done)='_onTextAnimationEnd($event)' class="detail tb-color--black-54"
                ngClass.gt-sm="current-typo--body1" ngClass.sm="current-typo--body1" ngClass.xs="current-typo--body1">
                {{ detailsText }}
            </p>
            <div ngClass.gt-sm="tb-height--126" ngClass.sm="tb-height--72" ngClass.xs="tb-height--72"></div>
        </div>
    </div>
</div>
